![Netflix Logo](https://www.leparisien.fr/resizer/C8SgQdCKfepim4jGF2HM0m9PVmM=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/JVZBZI2UDFHA5BGZZDK2C2KKV4.jpg)

<p style="font-family: 'Times New Roman', cursive; font-size: 40px;">Table of Contents</p>

<p style="font-family: 'Times New Roman', cursive; font-size: 25px;">
    Hypothesis and objectives:
<p style="font-family: 'Times New Roman', cursive; font-size: 40px;">
    
    
 <p style="font-family: 'Times New Roman', cursive; font-size: 20px;">1. Exploring data with SQL - Name1
    
 <p style="font-family: 'Times New Roman', cursive; font-size: 20px;">2. Exploring data with Python - Name2
    
 <p style="font-family: 'Times New Roman', cursive; font-size: 20px;">3. Functions to manipulate data by user input - Name3
    
 <p style="font-family: 'Times New Roman', cursive; font-size: 20px;">4. Functions to visualise data - Name4
    
 <p style="font-family: 'Times New Roman', cursive; font-size: 20px;">5. User input - Eglė Pakštytė

<p style="font-family: 'Times New Roman', cursive; font-size: 25px;">
<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">Conclusion</p>

<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">Note: Eglė Pakštytė created def function(): without the code for Kristina and some for Dija. Also created buttons, since this part was more related to user interface than to graphs. Kristina Sankutė changed the font and the image.

<p style="font-family: 'Times New Roman', cursive; font-size: 30px;">--------------------------------------------------------------------------------------------------</p>

<p style="font-family: 'Times New Roman', cursive; font-size: 30px;">Hypotheses</p>

<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">1. It is better to analyse data by making an user interface.
<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">2. Comedy is the most popular genre.

<p style="font-family: 'Times New Roman', cursive; font-size: 30px;">--------------------------------------------------------------------------------------------------</p>

<p style="font-family: 'Times New Roman', cursive; font-size: 27px;">1. Exploring data with SQL - Name1

<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">Objectives:
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">1. Import data with SQL

In [ ]:
--Creating a MySQL database for the .csv file.
CREATE TABLE netflix (
    id INT AUTO_INCREMENT PRIMARY KEY, --Adds an id column as the Primary Key.
    title VARCHAR(255),
    global_availability BINARY,
    release_date DATE,
    hours_viewed INT,
    number_of_ratings INT,
    rating FLOAT,
    genre VARCHAR(255),
    key_words VARCHAR(255),
    description VARCHAR(255)
);

In [ ]:
--Load the data from .csv file into MySQL.
LOAD DATA LOCAL INFILE 'Netflix.csv'
INTO TABLE netflix
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'

SyntaxError: invalid syntax (1899633083.py, line 1)

In [ ]:
-- Replace NULL values in 'release_date' with the default value 'N/A'
UPDATE netflix
SET release_date = 'N/A'
WHERE release_date IS NULL;

In [ ]:
-- Count of rows in the table
SELECT COUNT(*) AS row_count FROM netflix;

In [ ]:
-- Descriptive statistics for numeric columns
SELECT
  MIN(hours_viewed) AS min_hours_viewed,
  MAX(hours_viewed) AS max_hours_viewed,
  AVG(hours_viewed) AS avg_hours_viewed,
  MIN(number_of_ratings) AS min_number_of_ratings,
  MAX(number_of_ratings) AS max_number_of_ratings,
  AVG(number_of_ratings) AS avg_number_of_ratings,
  MIN(rating) AS min_rating,
  MAX(rating) AS max_rating,
  AVG(rating) AS avg_rating
FROM netflix;

In [ ]:
-- Count of each genre in the table
SELECT genre, COUNT(*) AS genre_count
FROM netflix
GROUP BY genre;

In [ ]:
-- Summary of release dates
SELECT
  MIN(release_date) AS earliest_release_date,
  MAX(release_date) AS latest_release_date
FROM netflix;

In [ ]:
-- Keyword frequency
SELECT
  key_word,
  COUNT(*) AS keyword_count
FROM
  (SELECT
    TRIM(BOTH "'" FROM key_words) AS key_word
  FROM netflix) AS keyword_table
GROUP BY key_word
ORDER BY keyword_count DESC
LIMIT 10;

In [ ]:
-- Genre distribution over time
SELECT
  YEAR(release_date) AS release_year,
  genre,
  COUNT(*) AS genre_count
FROM netflix
GROUP BY release_year, genre
ORDER BY release_year, genre;

<p style="font-family: 'Times New Roman', cursive; font-size: 27px;"> 2. Exploring data with Python - Name2

<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">Objectives:
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">1. Import csv file
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">2. Get information and statistics about data
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">3. Find and remove the null values

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tkinter as tk
from tkinter import simpledialog
import plotly.express as px
from collections import Counter
import ast


df = pd.read_csv(r"C:\Users\Eglė\OneDrive - ISM University of Management and Economics\Darbalaukis\Coding\Netflix.csv")

In [ ]:
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18332 entries, 0 to 18331
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                18332 non-null  object
 1   Available Globally?  18332 non-null  object
 2   Release Date         4879 non-null   object
 3   Hours Viewed         18332 non-null  int64
 4   Number of Ratings    14222 non-null  float64
 5   Rating               14222 non-null  float64
 6   Genre                15761 non-null  object
 7   Key Words            12801 non-null  object
 8   Description          10619 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 1.3+ MB
None

In [ ]:
print("\nDescriptive Statistics:")
print(df.describe())

Descriptive Statistics:
       Hours Viewed  Number of Ratings        Rating
count  1.833200e+04       1.422200e+04  14222.000000
mean   5.120205e+06       4.613511e+04      6.509056
std    1.867122e+07       1.486087e+05      1.227839
min    1.000000e+05       5.000000e+00      1.200000
25%    2.000000e+05       3.432500e+02      5.800000
50%    7.000000e+05       2.594000e+03      6.600000
75%    3.400000e+06       1.935500e+04      7.300000
max    8.121000e+08       2.829797e+06     10.000000

In [ ]:
print("\nHandling Missing Values:")
print("Number of missing values in each column:")
print(df.isnull().sum())

Handling Missing Values:
Number of missing values in each column:
Title                      0
Available Globally?        0
Release Date           13453
Hours Viewed               0
Number of Ratings       4110
Rating                  4110
Genre                   2571
Key Words               5531
Description             7713
dtype: int64

In [ ]:
column_to_exclude = 'Release Date'
df_cleaned = df.dropna(subset=df.columns.difference([column_to_exclude]))
df_cleaned

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words,Description
1,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000,5216.0,5.7,"['Comedy', 'Drama', 'Romance']","producer,three word title,headstrong,arranged ...",The film follows headstrong Ginny who meets Su...
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000,50077.0,7.4,"['Drama', 'History', 'Romance']","prequel,queen,historical,england,queen charlot...","Betrothed against her will to King George, you..."
5,You: Season 4,Yes,2023-02-09,440600000,45624.0,6.6,"['Comedy', 'Romance']","christmas,coming out,holidays,lesbian relation...",A holiday romantic comedy that captures the ra...
8,Ginny & Georgia: Season 1,Yes,2021-02-24,302100000,5216.0,5.7,"['Comedy', 'Drama', 'Romance']","producer,three word title,headstrong,arranged ...",The film follows headstrong Ginny who meets Su...
13,The Mother,Yes,2023-05-12,249900000,44102.0,5.6,"['Action', 'Thriller']","female protagonist,assassin,daughter,danger,fight","While fleeing from dangerous assailants, an as..."
...,...,...,...,...,...,...,...,...,...
18319,Čtyřlístek Ve Službách Krále,No,NaN,100000,78.0,5.2,"['Animation', 'Comedy', 'Family']","group of friends,animal protagonist,time trave...",Famous Czech comics characters as movie stars!...
18321,Špindl,No,NaN,100000,176.0,3.8,"['Comedy', 'Romance']","voice over narration,gold digger,low self este...","Three unmarried sisters, Katka, Eliska and Mag..."
18322,Żyć nie umierać,No,NaN,100000,303.0,5.5,"['Comedy', 'Drama']","cancer,clown,terminal illness",When cancer-stricken alcoholic actor discovers...
18327,راس السنة,No,NaN,100000,383.0,4.8,['Drama'],live,A tale of different people whose lives intertw...
18328,心が叫びたがってるんだ。,No,NaN,100000,6209.0,7.3,"['Animation', 'Drama', 'Family']","anime animation,anime",A young girl had her voice magically taken awa...

<p style="font-family: 'Times New Roman', cursive; font-size: 27px;">3. Functions to manipulate data by user input - Name3

<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">Objectives:
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">1. Write a sorting function.
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">2. Write a function to display the table.
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">3. Write functions to find smallest and largest values.

In [ ]:
from tkinter import simpledialog
import pandas as pd

class DataProcessor:
    def __init__(self, df):
        self.df = df

    def sort_function(self):
        # Additional sorting options
        sort_options = ['rating', 'genre']

        # Get user input for sorting option
        sort_option = simpledialog.askstring("Sort Option", f"Choose sorting option: {', '.join(sort_options)}")

        if sort_option is not None:
            # Check if the entered sorting option is valid
            if sort_option.lower() in sort_options:
                # Call the sorting function with the chosen option
                if sort_option.lower() == 'genre':
                    # Get user input for genres to sort
                    genres_input = simpledialog.askstring("Genres", "Enter genres to sort (separated by commas):")
                    genres = [genre.strip() for genre in genres_input.split(',')]
                    self.sort_by_genre(genres)
                elif sort_option.lower() == 'rating':
                    # Get user input for rating range
                    rating_range = simpledialog.askstring("Rating Range", "Enter rating range (e.g., 0-10):")
                    self.sort_by_rating(rating_range)
                else:
                    print("Invalid sorting option.")
            else:
                print("Invalid sorting option.")
        else:
            print("User canceled sorting.")

    def sort_by_genre(self, genres):
        # Sorting logic by genre
        selected_movies = self.df[self.df['Genre'].isin(genres)]
        display(selected_movies)

    def sort_by_rating(self, rating_range):
        # Sorting logic by rating
        min_rating, max_rating = map(float, rating_range.split('-'))
        selected_movies = self.df[(self.df['Rating'] >= min_rating) & (self.df['Rating'] <= max_rating)]
        display(selected_movies)

    def display_table_function(self):
        # Display logic
        display_option = simpledialog.askstring("Display Option", "Enter display option (cleaned/original):")

        if display_option is not None:
            if display_option.lower() == 'cleaned':
                print("Displaying cleaned DataFrame:")
                display(self.df)
            elif display_option.lower() == 'original':
                print("Displaying original DataFrame:")
                display(self.df)
            else:
                display("Invalid display option.")
        else:
            print("User canceled display.")

    def largest_function(self):
        # Largest options
        largest_options = ['Rating', 'Hours Viewed']

        # Get user input for the largest option
        largest_option = simpledialog.askstring("Largest Option", f"Choose largest option: {', '.join(largest_options)}")

        if largest_option is not None:
            # Check if the entered option is valid
            if largest_option.lower() in [opt.lower() for opt in largest_options]:
                # Display the table sorted from largest to smallest by the chosen option
                self.display_largest_value(largest_option)
            else:
                print("Invalid largest option.")
        else:
            print("User canceled largest.")

    def smallest_function(self):
        # Smallest options
        smallest_options = ['Rating', 'Hours Viewed']

        # Get user input for the smallest option
        smallest_option = simpledialog.askstring("Smallest Option", f"Choose smallest option: {', '.join(smallest_options)}")

        if smallest_option is not None:
            # Check if the entered option is valid
            if smallest_option.lower() in [opt.lower() for opt in smallest_options]:
                # Display the table sorted from smallest to largest by the chosen option
                self.display_smallest_value(smallest_option)
            else:
                print("Invalid smallest option.")
        else:
            print("User canceled smallest.")

    def display_largest_value(self, category):
        # Display the largest value in the chosen category
        largest_value = self.df[category].max()
        selected_movies = self.df[self.df[category] == largest_value]
        print(f"The largest value in the category {category} is:")
        display(selected_movies)

    def display_smallest_value(self, category):
        # Display the smallest value in the chosen category
        smallest_value = self.df[category].min()
        selected_movies = self.df[self.df[category] == smallest_value]
        print(f"The smallest value in the category {category} is:")
        display(selected_movies)

<p style="font-family: 'Times New Roman', cursive; font-size: 27px;">4. Functions to visualise data - Name4

<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">Objectives:
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">1. Make three graphs that could be useful in understanding the data.

In [ ]:
import tkinter as tk
from tkinter import messagebox

def function1():
    df['Release Date'] = pd.to_datetime(df['Release Date'], errors='coerce')

    # Drop rows where 'Release Date' is missing
    df_time_series = df.dropna(subset=['Release Date'])

    # Group by 'Release Date' and sum 'Hours Viewed'
    time_series_data = df_time_series.groupby(df_time_series['Release Date'].dt.to_period("M")).sum(numeric_only=True)['Hours Viewed']
    time_series_data.index = time_series_data.index.to_timestamp()  # Convert back to timestamp for plotting

    df_plot = time_series_data.reset_index()
    df_plot.columns = ['Release Date', 'Hours Viewed']

    # Create a scatter plot
    fig = px.scatter(df_plot, x='Release Date', y='Hours Viewed', color='Hours Viewed',
                     title='Netflix view trends over time',
                     color_continuous_scale='OrRd')

    # Add a line plot
    line_fig = fig.add_traces(px.line(df_plot, x='Release Date', y='Hours Viewed').data)
    for trace in line_fig.data:
        trace.line.color = '#ff7f0e'  # Change the line color

    fig.update_layout(title_font_size=20)
    fig.update_layout(font_family="Sherif")

    fig.show()

def function2():
    data = df['Rating'].dropna()
    counts, bins = np.histogram(data, bins=20)

    # Create color gradient
    cmap = plt.get_cmap('Reds')
    colors = cmap(np.linspace(0, 1, len(counts)))

    # Create the histogram plot
    plt.figure(figsize=(10, 6))
    sns.set(style="darkgrid")

    for color, bin, count in zip(colors, bins, counts):
        plt.bar(bin, count, color=color, width=bins[1] - bins[0], align='edge')

    # Adding a line for the median
    median_rating = data.median()
    plt.axvline(median_rating, color='yellow', linestyle='dashed', linewidth=2)

    # Enhancing the plot aesthetics
    plt.title('Distribution of Netflix Ratings', fontsize=20, fontname='Times New Roman')
    plt.xlabel('Rating', fontsize=14, fontname='Times New Roman')
    plt.ylabel('Frequency', fontsize=14, fontname='Times New Roman')
    plt.xticks(fontsize=12)
    plt.yticks(fontsize=12)
    plt.xlim([bins[0], bins[-1]])

    # Show the plot
    plt.show()

def function3():
    genre_counts = Counter()
    df['Genre'].dropna().apply(lambda x: genre_counts.update(ast.literal_eval(x)))

    genres, counts = zip(*genre_counts.items())
    genre_data = pd.DataFrame({'Genre': genres, 'Count': counts})

    # Create bar chart
    fig_genre = px.bar(genre_data,
                       x='Genre',
                       y='Count',
                       title='All Movies Classified by Genre',
                       color='Count',
                       color_continuous_scale='OrRd')
    fig_genre.update_layout(xaxis_title='Genre',
                            yaxis_title='Count',
                            title_font_size=20,
                            font_family="Sherif",
                            xaxis_tickangle=-90)
    fig_genre.show()

def graph_function():
    popup = tk.Tk()
    popup.title("Graph Function")

    button1 = tk.Button(popup, text="Netflix view trends over tim", command=function1)
    button1.pack()

    button2 = tk.Button(popup, text="Distribution of Netflix Ratings", command=function2)
    button2.pack()

    button3 = tk.Button(popup, text="All Movies Classified by Genre", command=function3)
    button3.pack()

    popup.mainloop()

<p style="font-family: 'Times New Roman', cursive; font-size: 27px;">5. User input - Eglė Pakštytė

<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">To check all the functions, write any sentence containing the word 'menu'.

<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">Objectives:
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">1. Write code that would gather user input.
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">2. Write code that identifies entered key words and accounts for one spelling mistake.
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">3. Once a keyword is recognised execute corresponding functions.
<p style="font-family: 'Times New Roman', cursive; font-size: 15px;">4. Write a function that would display the menu of all keywords.

In [ ]:
from tkinter import messagebox

def menu_function():
    menu_text = """
    Possible commands:
    1. 'sort': sort a specific column
    2. 'display': Display the table with or without missing values
    3. 'largest': Find the largest item for chosen column
    4. 'smallest': Find the smallest item for chosen column
    5. 'graph': Create a graph from a selection of 3 premade graphs
    6. 'menu': Display this menu
    """

    # Display the menu in a popup window
    messagebox.showinfo("Menu", menu_text)

In [ ]:
# Create an instance of the class
data_processor_instance = DataProcessor(df)

# Predefined functions
functions = {
    'sort': data_processor_instance.sort_function,
    'display': data_processor_instance.display_table_function,
    'largest': data_processor_instance.largest_function,
    'smallest': data_processor_instance.smallest_function,
    'graph' : graph_function,
    'menu' : menu_function
}

# List of words to check against
list2 = ['sort', 'group', 'display', 'largest', 'smallest', 'graph', 'menu']

while True:
    # Your user input and split it into a list of words
    user_input = simpledialog.askstring("Input", "What would you like to do with the data:")

    if user_input is not None:
        print("User entered:", user_input)

        # Split the entered string into a list of words
        words = user_input.split()

        # Check each word against predefined functions
        for word in words:
            if word in list2:
                # Call the corresponding function
                functions[word]()
            else:
                # Check if a closely matching word exists in list2
                close_match = [w for w in list2 if (len(w) == len(word) and sum(a != b for a, b in zip(w, word)) == 1) or
                                   (len(w) == len(word) + 1 and sum(a != b for a, b in zip(w, word + 'X')) == 1) or
                                   (len(w) == len(word) - 1 and sum(a != b for a, b in zip(w + 'X', word)) == 1)]
                if close_match:
                    print(f"Did you mean '{close_match[0]}'? Performing the corresponding function.")
                    functions[close_match[0]]()
    else:
        print("User canceled the input.")
        break  # Break out of the loop when the user cancels input

# Notify the user that the program is done
print("Program finished.")

User entered: display
Displaying original DataFrame:
                                     Title Available Globally? Release Date  \
0                The Night Agent: Season 1                 Yes   2023-03-23
1                Ginny & Georgia: Season 2                 Yes   2023-01-05
2       The Glory: Season 1 // 더 글로리: 시즌 1                 Yes   2022-12-30
3                      Wednesday: Season 1                 Yes   2022-11-23
4      Queen Charlotte: A Bridgerton Story                 Yes   2023-05-04
...                                    ...                 ...          ...
18327                            راس السنة                  No          NaN
18328                         心が叫びたがってるんだ。                  No          NaN
18329                            두근두근 내 인생                  No          NaN
18330                               라디오 스타                  No          NaN
18331                               선생 김봉두                  No          NaN

       Hours Viewed  Number of Ratings  Rating  \
0         812100000             7696.0     6.0
1         665100000             5216.0     5.7
2         622800000            11869.0     8.4
3         507700000                NaN     NaN
4         503000000            50077.0     7.4
...             ...                ...     ...
18327        100000              383.0     4.8
18328        100000             6209.0     7.3
18329        100000                NaN     NaN
18330        100000                NaN     NaN
18331        100000                NaN     NaN

                                   Genre  \
0      ['Biography', 'Drama', 'History']
1         ['Comedy', 'Drama', 'Romance']
2                              ['Short']
3                          ['Talk-Show']
4        ['Drama', 'History', 'Romance']
...                                  ...
18327                          ['Drama']
18328   ['Animation', 'Drama', 'Family']
18329                                NaN
18330                                NaN
18331                                NaN

                                               Key Words  \
0      persian empire,empire,5th century b.c.,achaeme...
1      producer,three word title,headstrong,arranged ...
2                                                    NaN
3                                          youtube video
4      prequel,queen,historical,england,queen charlot...
...                                                  ...
18327                                               live
18328                              anime animation,anime
18329                                                NaN
18330                                                NaN
18331                                                NaN

                                             Description
0                                                    NaN
1      The film follows headstrong Ginny who meets Su...
2                                                    NaN
3      MsMojo counts down the top 10 Wednesday (2022)...
4      Betrothed against her will to King George, you...
...                                                  ...
18327  A tale of different people whose lives intertw...
18328  A young girl had her voice magically taken awa...
18329                                                NaN
18330                                                NaN
18331                                                NaN

[18332 rows x 9 columns]
User canceled the input.
Program finished.

<p style="font-family: 'Times New Roman', cursive; font-size: 30px;">--------------------------------------------------------------------------------------------------</p>

<p style="font-family: 'Times New Roman', cursive; font-size: 27px;">Conclusions

<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">1. We partly confirm the hypothesis that 'It is better to analyse data by making an user interface', since the coding process is more time consuming, however it could make the analysis easier to navigate
<p style="font-family: 'Times New Roman', cursive; font-size: 20px;">2. By executing the 'All movies classified by genre' graph we can see that comedy is not the most popular genre, as a result we have to reject our hypothesis